.RRSS .contIcons{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.RRSS .contIcons .itemBox{
    width: 30x;
    height: 30px;
}

.RRSS .contIcons .itemBox a{
    width: 100%;
    height: 100%;
} 

.RRSS .contIcons .itemBox img{
    width: 100%;
    height: 100%;
    transition: all .3s linear;
}

.RRSS .contIcons .itemBox img:hover{
    filter: brightness(4.8) sepia(1) hue-rotate(9deg) saturate(200%) contrast(0.85)
}

@media screen and (max-width: 767px){
    .RRSS.RRSS .contIcons {
        display: flex;
        flex-direction: row;
        gap: 25px;
        justify-content: space-around;
    }
}