@font-face {
    font-family: 'Satoshi-Variable';
    src: url('../../assets/fonts/Satoshi/Satoshi-Variable.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
  }
  /**
  * This is a variable font
  * You can control variable axes as shown below:
  * font-variation-settings: wght 900.0;
  *
  * available axes:
  'wght' (range from 300.0 to 900.0
  */
  @font-face {
    font-family: 'Satoshi-VariableItalic';
    src: url('../../assets/fonts/Satoshi/Satoshi-VariableItalic.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: italic;
  }

@font-face {
    font-family: 'BoskaRegular';
    src: url('../../assets/fonts/Boska/Boska-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BoskaVariable';
    src: url('../../assets/fonts/Boska/Boska-Variable.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BoskaMedium';
    src: url('../../assets/fonts/Boska/Boska-Medium.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BoskaItalic';
    src: url('../../assets/fonts/Boska/Boska-Italic.woff2') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RalewayVariableItalic';
    src: url('../../assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('ttf');
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RalewayVariable';
    src: url('../../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf') format('ttf');
    font-style: normal;
    font-display: swap;
}
