.single-product .acf-campos-extra *{
    font-family: var(--SatoshiVariable);
    font-size: 16px;
    line-height: 1.3
}

.single-product .acf-campos-extra h2,
.single-product .acf-campos-extra h3,
.single-product .acf-campos-extra h4,
.single-product .acf-campos-extra h5,
.single-product .acf-campos-extra h6 {
    font-weight: 600;
    color: var(--AzulOscuro);
    font-size: 22px;
}


.single-product ul.acf-campos-extra-lista{
    padding-left: 10px;
}

.single-product .acf-campos-extra a{
    font-family: var(--SatoshiVariable);
    font-size: 18px;
    color: #ad8246;
}

.single-product .acf-campos-extra ul li{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}