@import "variables.css";

header{ padding: 0; }

header .mainMenu{
    background-color: var(--Blanco);
    padding: 15px 0;
    width: 100dvw;
    position: fixed;
    top: 0;
    z-index: 20;
    padding: 23px 0;

}

header .mainMenu .contentHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


header .mainMenu .contentHeader ul{
    padding: 0;
    margin: 0;
}

header .mainMenu .contentHeader ul li{
    list-style: none;
}

header .mainMenu .contentHeader ul li a{
    position: relative;
}

header .mainMenu .contentHeader ul li *{
    font-family: var(--SatoshiMedium);
    font-size: 18px;
    color: var(--Negro);
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
}

header .mainMenu .contentHeader ul li a:before{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--Negro);
    transition: all .3s ease;
    bottom: -3px;
}

header .mainMenu .contentHeader ul li a:hover:before{
    width: 100%;
}

header .mainMenu .contentHeader .btnSearch{
    display: flex;
}

header .mainMenu .contentHeader .btnSearch svg{
    width: 20px;
    height: 20px;
}

header .mainMenu .contentHeader .menu-right > div ul,
header .mainMenu .contentHeader .menu-left > div ul,
header .mainMenu .contentHeader .menu-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}