@import "variables.css";

header{ padding: 0; }

header .mainMenu{
    background: linear-gradient(180deg, rgba(3, 1, 33, 1) 0%, rgba(228, 228, 228, 0) 100%);
    padding: 15px 0;
    width: 100dvw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    padding: 30px 0;

}

header .mainMenu .contentHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease-in;
}

@media screen and (max-width: 992px){
    header .mainMenu .contentHeader{
        padding: 10px 0;
    }
}

header .mainMenu .contentHeader .logoHeader .custom-logo-link{
    height: 100%;
    display: block;
}

header .mainMenu .contentHeader .logoHeader .custom-logo-link img{
    width: 200px;
    height: 100px;
    object-fit: contain;
}

@media screen and (max-width: 992px){
    header .mainMenu .contentHeader .logoHeader .custom-logo-link img{
        width: 150px;
        height: 80px;
    }

    body:has(.Intro) header .mainMenu .contentHeader .logoHeader {
        transform: translate(calc(45vw - 50%), 45vh) scale(2);
    }
}

header .mainMenu .contentHeader ul{
    padding: 0;
    margin: 0;
}

header .mainMenu .contentHeader ul li{
    list-style: none;
}

header .mainMenu .contentHeader ul li a{
    position: relative;
}

header .mainMenu .contentHeader ul li *{
    font-family: var(--SatoshiVariable);
    font-weight: 300;
    font-size: 20px;
    color: var(--Blanco);
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
}

header .mainMenu .contentHeader ul li a:before{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--Blanco);
    transition: all .3s ease;
    bottom: -3px;
}

header .mainMenu .contentHeader ul li a:hover:before{
    width: 100%;
}

header .mainMenu .contentHeader .btnSearch{
    display: flex;
}

header .mainMenu .contentHeader .btnSearch svg{
    width: 20px;
    height: 20px;
}

header .mainMenu .contentHeader .menu-left,
header .mainMenu .contentHeader .menu-right,
header .mainMenu .contentHeader .menu-left #menu-menu-header-left,
header .mainMenu .contentHeader .menu-right #menu-menu-header-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

header {
    padding: 48px 32px;
    max-height: 592px;
    height: 100%;
    position: fixed;
    top: -100%;
    width: 100%;
    z-index: 55;
    transition: top .5s ease-in-out;
    background-color: #0A1A2D;
}

/*Language Selector*/
.language-selector {
    position: relative;
    display: inline-block;
}

.iconsBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.iconsBtn .language-selector .lang-select{
    position: relative;
}

.iconsBtn .lang-toggle.current{
    font-family: var(--SatoshiMedium);
    font-size: 18px;
    color: var(--Blanco);
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.iconsBtn .lang-toggle.current:before{
    content: '';
    background: url(../images/icons/down-icon.svg) no-repeat center center;
    width: 15px;
    height: 10px;
    display: block;
    transform: rotate(0deg);
    transition: all .3s linear;
}

.iconsBtn .lang-toggle.current.active:before{ transform: rotate(180deg); }

.iconsBtn .lang-dropdown{
    background-color: var(--Blanco);
    position: absolute;
    justify-content: center!important;
    width: 100%;
    display: none;
}

.iconsBtn .lang-dropdown li a{
    color: var(--AzulOscuro)!important;
}

/*Search Section*/
.searchSection{
    height: 40vh;
    padding: 20px;
    width: 100%;
    background-color: var(--Dorado);
    position: fixed;
    top: -100%;
    transition: top .5s ease-in-out;
    left: 0;
}

.searchSection.isActive{
    top: 0;
}

header .offCanvasIcon{ display: none; }
header .offCanvasIcon{
    border-radius: 186px;
    border: 1px solid var(--AzulOscuro);
    background-color: var(--Blanco);
    width: 40px;
    height: 40px;
    padding: 5px;
    justify-content: center;
}


@media screen and (max-width: 992px){
    header .mainMenu .contentHeader .menu-left,
    header .mainMenu .contentHeader .menu-container-right,
    header .mainMenu .contentHeader .language-selector,
    header .mainMenu .contentHeader .btnSearch{
        display: none;
    }

    header .offCanvasIcon{ display: block; }
}


/* ===============
   OFFCANVAS MENU CSS (Convertido de SCSS a CSS puro)
   =============== */

   .offCanvasMenu {
    width: 100dvw;
    min-height: 100dvh;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100dvw;
    transition: all 0.5s ease-in-out;
    z-index: 99999;
    background-repeat: no-repeat;
    background-position: top right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
  }
  
  .offCanvasMenu.open {
    right: 0;
  }
  
  .offCanvasMenu .contentNavigation {
    max-width: calc(((100vw - 1320px) / 4) + 510px);
    transition: max-width 0.5s ease-in;
    width: 100%;
    height: 100%;
    background-color: var(--AzulOscuro);
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .offCanvasMenu .contentNavigation.subActive {
    max-width: 1154px;
  }
  
  @media screen and (max-width: 767px) {
    .offCanvasMenu .contentNavigation {
      max-width: 100%;
    }
  }
  
.offCanvasMenu .menu-container-left{
    margin-bottom: 10px;
}

  .offCanvasMenu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
    align-items: flex-end;
  }
  
  .offCanvasMenu ul .menu-item {
    list-style: none;
    transition: all 0.5s linear;
  }
  
  .offCanvasMenu ul .menu-item a {
    position: relative;
    display: block;
    color: var(--Blanco);
    font-family: var(--SatoshiVariable);
    font-size: 18px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: -0.111px;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .offCanvasMenu ul .menu-item a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: var(--AzulOscuro);
    transition: width 0.5s ease-in-out;
  }
  
  .offCanvasMenu ul .menu-item a:hover::before {
    width: 100%;
  }
  
  .offCanvasMenu .menu-main-menu-container #menu-main-menu {
    max-width: 246px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 0 48px 0;
    margin: 0;
  }

  @media screen and (max-width: 992px){
    .offCanvasMenu ul .menu-item a {
        font-size: 32px;
    }

    header .mainMenu{
        padding: 15px 0;
    }
  }
  
