@import "fonts.css";

:root {
    /*Font families variables*/
    --SatoshiVariable: "Satoshi-Variable", sans-serif;
    --SatoshiVariableItalic: "Satoshi-VariableItalic", sans-serif;
    --BoskaRegular: "BoskaRegular", sans-serif;
    --BoskaItalic: "BoskaItalic", sans-serif;
    --BoskaMedium: "BoskaMedium", sans-serif;
    --RalewayVariableItalic: "RalewayVariableItalic", sans-serif;
    --RalewayVariable: "RalewayVariable", sans-serif;
    
    /*Color Variables*/
    --Blanco: #FFFFFF;
    --Dorado: #E9D9B8;
    --Negro: #00000D; /* Negro Profundo */
    --AzulOscuro: #1C1B38;
    --BlancoHueso: #F5F5F5; /* Blanco Suave */
    --accentColor: #C5A880; /* Dorado Suave */
    --darkGrayColor: #2E2E2E; /* Gris Oscuro */
    --Dorado2: #d5b376;
}
