#coming-soon-footer-banner{ display: none; }

.container.single-product{
    min-height: calc(100dvh - 180px);
    margin-top: 180px;
}

.container.single-product .site-main{ margin-top: 0;}

.single-product .woocommerce-product-details__short-description,
.single-product .onsale,
.single-product .product_meta,
.single-product #sidebar,
.single-product .related.products{ display: none!important; }

.page_woocommerce{
    background-color: #f3f2ee;
    padding-top: 180px;
}

.page_woocommerce .shop-title{
    font-family: var(--BoskaItalic);
    font-size: clamp(60px,5vw,90px);
    text-align: center;
    color: var(--AzulOscuro);
    margin-bottom: 70px;
    margin-top: 50px;
}

.page_woocommerce header .mainMenu .contentHeader .btnSearch svg path{
    stroke: #212223;
}

.page_woocommerce header{
    border: unset;
}

.page_woocommerce header .mainMenu{
    background: 
    rgba(243, 242, 238, 0.5)!important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}


.page_woocommerce header .mainMenu .contentHeader ul li *{
    color: #212223;
    font-weight: 400;
}

.page_woocommerce .mainMenu .contentHeader ul li a:before{
    background-color: #212223;
}

.page_woocommerce header .shop-icon a::before{
    filter: brightness(0);
}

.page_woocommerce footer{
    background-color: #5f6265;
}

.page_woocommerce .itemBox img{
    filter: brightness(10);
}

.page_woocommerce footer .downFooter .legals a,
.page_woocommerce footer .upperFooter .menus ul li a{
    color: #FFFFFF;
}

.page_woocommerce .base_phrase, .page_woocommerce .phrase{
    color: #d4bb8c3b;
}

.page_woocommerce .categoria-bloque .titulo-categoria{
    font-family: var(--SatoshiVariable);
    font-size: 48px;
    color: var(--AzulOscuro);
    font-weight: 300;
    line-height: 1;
    margin-bottom: 30px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--AzulOscuro);
}

.woocommerce ul.products::before{ content: unset!important; }

.page_woocommerce .categoria-bloque .products{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.page_woocommerce .categoria-bloque .products .product-card{
    width: 100%!important;
    margin: 0 0 50px 0;
}

.page_woocommerce .categoria-bloque .products .product-link{
    min-height: 380px;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.page_woocommerce .categoria-bloque .products .product-link:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s linear;
    background: rgba(0, 0, 0, 0);
}

.page_woocommerce .categoria-bloque .products .product-link:hover::after {
    background: rgba(0, 0, 0, 0.3);
}

.page_woocommerce .categoria-bloque .products .product-info{
    position: absolute;
    width: 100%;
    bottom: -100%;
    left: 0;
    transition: all .4s ease-out;
    padding: 0 10px;
    z-index: 2;
}

.page_woocommerce .categoria-bloque .products .product-info .product-title{
    font-family: var(--SatoshiVariable);
    font-size: 32px;
    font-weight: 300;
    color: var(--Blanco);
    text-align: center;
}

.page_woocommerce .categoria-bloque .products .product-link:hover .product-info{
    bottom: 20px;
}

.page_woocommerce .categoria-bloque .products .product-sale-badge{
    display: none!important;
}

.page_woocommerce .categoria-bloque .products .product-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/*Única de producto*/
.single-product #productInfo{
    display: grid;
    gap: 70px;
    grid-template-columns: 1fr 1fr;
}

.single-product .content-area .woocommerce-breadcrumb,
.single-product .content-area .woocommerce-breadcrumb *{
    font-family: var(--SatoshiVariable);
    font-size: 18px;
    color: var(--AzulOscuro);
}

.single-product .product_title.entry-title{
    font-family: var(--SatoshiVariable);
    font-size: clamp(40px,3vw,60px);
    color: var(--AzulOscuro);
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1;
}

.single-product .categories{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.single-product .categories .categoria-producto{
    font-family: var(--SatoshiVariable);
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--AzulOscuro);
}

.single-product .categories .categoria-producto::after{
    content: ', ';
    font-family: var(--SatoshiVariable);
    font-size: 22px;
    font-weight: 400;
    color: var(--AzulOscuro);
}

.single-product .categories .categoria-producto:last-of-type:after{
    content: '';
    font-family: var(--SatoshiVariable);
    font-size: 22px;
    font-weight: 400;
    color: var(--AzulOscuro);
    margin-bottom: 10px;
}

.single-product .summary.entry-summary{
    width: 100%!important;
    max-width: 100%;
}

.single-product .acf-campos-extra *{
    font-family: var(--SatoshiVariable);
    font-size: 16px;
    line-height: 1.3
}

.single-product .acf-campos-extra h2,
.single-product .acf-campos-extra h3,
.single-product .acf-campos-extra h4,
.single-product .acf-campos-extra h5,
.single-product .acf-campos-extra h6 {
    font-weight: 600;
    color: var(--AzulOscuro);
    font-size: 22px;
}


.single-product ul.acf-campos-extra-lista{
    padding-left: 10px;
}

.single-product .acf-campos-extra a{
    font-family: var(--SatoshiVariable);
    font-size: 18px;
    color: #ad8246;
}

.single-product .acf-campos-extra ul li{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.single-product .whatsapp-button{
    width: fit-content;
    display: block;
    margin-top: 30px;
    border: 1px solid var(--AzulOscuro);
    padding: 7px 20px;
    background-color: transparent;
    border-radius: 50px;
    line-height: 1.3;
    font-family: var(--SatoshiVariable);
    font-size: 20px;
    font-weight: 400;
    color: var(--AzulOscuro);
    text-decoration: unset;
    transition: all .3s linear;
}

.single-product .whatsapp-button:hover{
    background-color: #dfdfdf;
    font-weight: 600;
}

.single-product .acf-campos-extra ul li::marker{
    font-size: 10px;
}

.single-product .swipperArrows{
    margin-top:15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;
}

.single-product .swipperArrows .swiperArrow{
    width: 45px;
    height: 45px;
    border: 1px solid var(--AzulOscuro);
    border-radius: 100px;
    margin-top: 0!important;
    background-color: #fff;
    transition: all .3s linear;
}

.single-product .swipperArrows .swiperArrow img{
    width: 20px;
}

.single-product .swipperArrows .swiperArrow.swiper-button-next{
    transform: rotate(180deg);
}

.single-product .swipperArrows .swiperArrow:hover {
    background-color: #ededed;
}

@keyframes shake-horizontal {
  0% { transform: translateX(0); }
  20% { transform: translateX(-1px); }
  40% { transform: translateX(1px); }
  60% { transform: translateX(0px); }
  80% { transform: translateX(1px); }
  100% { transform: translateX(0); }
}

.single-product .swipperArrows .swiperArrow:hover img {
  background-color: #ededed;
  animation: shake-horizontal 1s ease-in-out;
}

.single-product .swipperArrows .swiperArrow{
    position: unset;
    display: flex;
    justify-content: center;
}

.single-product .swipperArrows .swiperArrow:after{
    content: unset;
}

.single-product .mySwiper {
  width: 100%;
  overflow: hidden;
  min-height: 55dvh;
  max-height: 55dvh;
  position: sticky;
  top: 180px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.single-product .mySwiper .swiper-wrapper {
  display: flex !important;
}

.single-product .mySwiper .swiper-slide {
  width: 100% !important;
  flex-shrink: 0;
}

.single-product .mySwiper .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/**.single-product .content-area .woocommerce-breadcrumb a:hover{
    font-family: var(--SatoshiVariable);
    font-size: 16px;
    color: var(--Dorado2);
}*/


@media screen and (max-width: 992px){
    .single-product #productInfo{
        gap: 40px;
    }

    .single-product .mySwiper{
        position: relative;
        top: 0;
        min-height: unset;
        max-height: unset;
    }

    .single-product .mySwiper .swiper-wrapper{
        height: 40dvh;
    }

    .single-product #productInfo{
        grid-template-columns: 1fr;
    }

    .page_woocommerce{
        padding-top: 80px;
    }

    .page_woocommerce .categoria-bloque .products{
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .page_woocommerce .shop-title{
        font-family: var(--BoskaItalic);
        font-size: clamp(60px,5vw,90px);
        text-align: center;
        color: var(--AzulOscuro);
        margin-bottom: 60px;
        margin-top: 60px;
    }
}

@media screen and (max-width: 767px){
    .page_woocommerce .categoria-bloque .products{
        display: grid; 
        grid-template-columns: 1fr;
        gap: 10px;
    }
}