/*Search Section*/
.BarraBusqueda .searchSection{
    opacity: 0;
    min-height: 40vh;
    padding: 32px;
    width: 95%;
    background-color: var(--AzulOscuro);
    position: fixed;
    top: -100%;
    transition: top 0.5s ease-in-out, opacity 0.3s ease-in-out;
    left: 2.5%;
    z-index: 55;
}

.BarraBusqueda .overlay{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0A1A2D33;
    z-index: 50;
}

.BarraBusqueda .searchSection.isActive{
    opacity: 1;
    top: 5%;
}

.BarraBusqueda .searchSection .closeSearch{
    width: 60px;
    height: 60px;
    margin-left: auto;
    cursor: pointer;
}

.BarraBusqueda .searchSection .inputSearch{
    margin: 0 auto;
    position: relative;
    max-width: 600px;
    width: 100%;
    border-bottom: 2px solid var(--Dorado2);
    margin: 30px auto 30px auto;
}

.BarraBusqueda .searchSection .inputSearch .searchData{
    width: 100%;
    border: unset;
    background-color: transparent;
    font-size: clamp(32px, 4vw,40px);
    font-family: var(--BoskaItalic);
    font-weight: 400;
    color: var(--Blanco);
}

.BarraBusqueda .searchSection .inputSearch .searchData:focus-visible{
    outline: unset;
}

.BarraBusqueda .searchSection .inputSearch .searchData::placeholder{
    color: var(--Blanco);
}

.BarraBusqueda .searchSection .inputSearch:before{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url(../../assets/images/icons/arrow-right.svg);
    width: 45px;
    height: 40px;
    background-size: cover;
}

.BarraBusqueda .searchSection .inputSearch{
    display: flex;
    flex-direction: row;
}

/*Resultados Busqueda*/

.BarraBusqueda #search-results .noResults{
    margin: 0 auto;
    font-size: 48px;
    font-family: var(--SatoshiVariable);
    font-weight: 300;
    color: var(--Blanco);
}

.BarraBusqueda #search-results .search-title{
    font-size: clamp(28px,2vw,40px);
    font-family: var(--SatoshiVariable);
    font-weight: 400;
    color: var(--Blanco);
    text-align: left;
    margin-bottom: 20px;
}

.BarraBusqueda #search-results .search-list{
    padding: 0 30px 0 0;
    max-height: calc(100dvh - 270px)
    overflow-y: scroll;

}


.BarraBusqueda #search-results .search-card a{
    display: block;
    text-decoration: none;
}

.BarraBusqueda #search-results .search-card a h4{
    font-size: 22px;
    font-family: var(--SatoshiVariable);
    font-weight: 500;
    color: var(--AzulOscuro);
    text-align: left;
    margin-bottom: 10px;
}

.BarraBusqueda #search-results .search-card p{
    margin: 0;
    font-size: 14px;
    font-family: var(--SatoshiVariable);
    font-weight: 400;
    color: var(--AzulOscuro);
    text-align: left;
}

.BarraBusqueda .search-card {
    display: flex;
    gap: 1rem;
    min-height: 280px;
    height: 100%;
    height: 100%;
    overflow: hidden;
}

.BarraBusqueda .search-thumb img {
    width: 80px;
    height: auto;
    object-fit: cover;
}

.BarraBusqueda .search-info h4 {
    margin: 0;
    font-size: 16px;
}

.BarraBusqueda .search-info p {
    margin: 0.5rem 0 0;
    font-size: 14px;
    color: #666;
}

.BarraBusqueda .search-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.BarraBusqueda .search-list .search-card .search-link{
    display: flex;
    width: 100%;
}

.BarraBusqueda .search-list .search-card .search-link .imgCont{
    height: 150px;
}

.BarraBusqueda .search-list .search-card .search-link .imgCont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.BarraBusqueda .search-list .search-card .search-link .search-info{
    padding: 20px;
    height: 100%;
}

.BarraBusqueda #search-results .search-card p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Máximo de 3 líneas */
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}

.BarraBusqueda .search-info{
    background-color: #c1c1c0
}

@media screen and (max-width: 992px){
    .BarraBusqueda #search-results .search-list{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 15px 0 0;
    }

    .BarraBusqueda .searchSection{
        min-height: fit-content;
        padding: 20px;
        width: 100%;
        top: -100%;
        left: 0;
    }

    .BarraBusqueda .searchSection.isActive{
        height: auto;
    }

    .BarraBusqueda .searchSection.isActive.searching{
        height: 100%;
    }

    .BarraBusqueda .searchSection.isActive {
        opacity: 1;
        top: 0;
    }

    .BarraBusqueda .searchSection .inputSearch:before {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url(/ostotart/wp-content/themes/Elafrios_Light/blocks/SearchBar/../../assets/images/icons/arrow-right.svg);
        width: 35px;
        height: 30px;
        background-size: cover;
    }

    .BarraBusqueda .searchSection .closeSearch {
        width: 40px;
        height: 40px;
    }

    .BarraBusqueda .searchSection .inputSearch .searchData{
        width: calc( 100% - 50px );
        margin-right: auto;
    }
}

@media screen and (max-width: 767px){
    .BarraBusqueda #search-results .search-list{
        grid-template-columns: 1fr;
    }
}